@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin:0;
	padding:0;
	font-family:"Poppins", sans-serif;
}

body {
	
}

/* navigation */
nav {
	--text:#fff;
	--text-inverse:#333;
	--background:transparent;

	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:999;
	justify-content:space-between;
	height:10vh;
	background:var(--background);
	color:var(--text);
	transition:0.3s;
}

nav .main-nav {
	width:40%;
	display:flex;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:50%;
	margin-left:-20%;
	align-content:center;
	justify-content:center;
}

nav .main-nav li {
	color:white;
	list-style:none;
	padding:0 3%;
}

nav a {
	text-decoration:none;
	color:var(--text);
}

nav .main-nav a::after {
	content:"";
	display:block;
	width:0;
	height:2px;
	background:var(--text);
	transition:width 0.3s;
}

nav .main-nav a:hover::after {
	width:100%;
	transition:width 0.3s;
}

.nav-scrolled {
	--text:#333;
	--text-inverse:#fff;
	--background:#f4f4f4;
	transition: 0.3s;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.logo {
	position:absolute;
	font-size:2em;
	font-weight:900;
	left:2%;
	top:50%;
	transform:translateY(-50%);
}

.pullout {
	position:absolute;
	top:100%;
	right:5%;
	background-color:var(--background);
	transform:scale(1, 0);
	transform-origin:top;
	transition:transform 400ms ease-in-out;
	box-shadow: -3px 7px 10px rgba(0, 0, 0, 0.2);
}

.pullout li {
	list-style:none;
	padding-bottom:10px;
}

.page-links {
	text-align:center;
}

.social {
	display:flex;
}

i {
	padding:0 10px;
	font-size:30px;
}

.nav-toggle-label {
	position:absolute;
	right:3%;
	top:50%;
	transform:translateY(-50%);
	cursor:pointer; 
}

.nav-toggle {
	display:none;
}

.nav-toggle:checked ~ .pullout {
	transform:scale(1, 1);
}

header {
	height:100vh;
	background-image:url(https://www.ashwood.vic.edu.au/uploaded_files/media/ashwood_newsletter_crop.jpg);
}

main {
	height:1000vh;
}