@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin:0;
	padding:0;
	font-family:"Poppins", sans-serif;
}

body {
	background:#e3f4fd;
}

#image {
	text-align:center;
}

@keyframes fadeout{
	from {
		opacity:1;
	}

	to {
		opacity:0;
	}
}

h1 {
	text-align:center;
	color:black;
	font-size:70px;
}